aside{
  width: 300px;
  height: 100vh;
  background-color: #0f2145;
  ul{
    padding: 10px 10px 10px 22px;
    list-style: none;
    li{
      font-size: 0.9rem;
      span{
        color: gray;
      }
      i{
        margin: 10px;
        font-size: 25px;
      }
      a{
        text-decoration: none;
        color: gray;
        &:hover{
          color: #35a7ff;
        }
        img{
          width: 150px;
        }
      }
    }
    .line{
      width: 100%;
      height: 1px;
      background-color: gray;
      margin: 40px 0px 40px 0px;
    }

    form{
      .btn{
        margin-left: 10px;
        padding: 6px 10px;
        i{
          margin: 0px;
        }
      }
    }


  }
}

// MEDIA QUERIES

// MEDIA X-SMALL
@media (min-width: 0 ) and (max-width: 575px){

aside{
  display: none;
}



}


// MEDIA XL
@media (min-width: 1200px ) and (max-width: 1399px){
  // aside
aside{
  width: 270px;
  ul{
    padding: 10px 10px 10px 22px;
    li{
      font-size: 0.8rem;
    }
  }
}
}
