aside{
  width: 300px;
  height: 100vh;
  background-color: #0f2145;
  ul{
    padding-top: 20px;
    list-style: none;
    li{
      i{
        margin: 10px;
        font-size: 25px;
      }
      a{
        text-decoration: none;
        color: gray;
        &:hover{
          color: #35a7ff;
        }
        img{
          width: 150px;
        }
      }
    }
  }
}
