.heavenly{
  background-color: #e1ecfd;
  color: #4589ff;
  &:hover{
    background-color: #d0e3ff;
    color: #4589ff;
  }
}

.mb-3{
  label{
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.w-75{
  width: 100% !important;
}

.form-control{
  background-color: #f5f7fa;
}

/* IMAGE PREVIEW */
.img-preview {
  cursor: pointer;
  border-radius: 1rem 1rem 0 0;
  background: gray;
  overflow: hidden;
  max-height: 300px;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  div {
    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 0 .5rem;
    color: red;
    transition: all .3s linear;
  }
  div:hover{
    background: red;
    border-radius: 50%;
    color: white;
    font-size: 1.1rem;
    transition: all .3s linear;
  }
}

.is-visible-check {
  label {
    font-size: .9rem;
  }
}



// MEEDIA QUERIES
// MEDIA X-SMALL
@media (min-width: 0 ) and (max-width: 575px){

}

// MEDIA XL
@media (min-width: 1200px ) and (max-width: 1399px){
.box-card-long{
  width: 100%;
}
}
