.heavenly{
  background-color: #e1ecfd;
  color: #4589ff;
  &:hover{
    background-color: #d0e3ff;
    color: #4589ff;
  }
}

.mb-3{
  label{
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.w-75{
  width: 100% !important;
}

.form-control{
  background-color: #f5f7fa;
}


// MEEDIA QUERIES
// MEDIA X-SMALL
@media (min-width: 0 ) and (max-width: 575px){


}

// MEDIA XL
@media (min-width: 1200px ) and (max-width: 1399px){
.box-card-long{
  width: 100%;
}
}
