// JUMBOTRON admin.blade
.jumbotron{
  height: 300px;
  width: 100%;
  background-image: url("https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/61fd339749c2ab12e3480155_CSS%20Padding%20vs%20Margin%20(February%202022)-p-2000.jpeg");
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-left: 40px;
}

// CARD HOME
.d-flex{
  .box-card{
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    position: relative;
    top: -30px;
    align-items: center;

    .circle-img{
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-right: 10px;
      i{
        font-size: 20px;
        line-height: 55px;

      }
    }
    .card-md-description{
      color: #00162f;
      :first-child{
        font-weight: 400;
        text-transform: uppercase;
      }
      :last-child{
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}

a{
  text-decoration: none;
}

.circle-img.green{
  color: #66b192;
  background-color: #ddf7ec;
}

.circle-img.blue{
  color: #91baf4;
  background-color: #e8e8ff;
}
.circle-img.orange{
  color: #ffb897;
  background-color: #fcebe4;
}

// ACTIVATE THE SELECTED LINK
.active{
  color: #35a7ff;
}

// MEDIA QUERIES

// MEDIA X-SMALL
@media (min-width: 0 ) and (max-width: 575px){

.jumbotron{
  height: 220px;
  padding-top: 80px;
  h4{
    font-size: 1rem;
  }

}

.d-flex.justify-content-center{
  flex-direction: column;
  align-items: center;
}

}

// MEDIA XL
@media (min-width: 1200px ) and (max-width: 1399px){

// jumbotron
.jumbotron{
  width: 100%;
}
// home general
.box-card{
  width: 250px !important;
}
}



