// CARD
.box-card-long{
  width: 100%;
  background-color: white;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  position: relative;
  top: -40px;
  .card-md-description{
    span{
      font-size: 1.5rem;
      color: #00162f;
      font-weight: 600;
    }
  }
}

.size{
  overflow-y: auto;
  height: 400px;
  .table{
    height: 10px;
    tr{
       vertical-align: middle;
      th{
        position: sticky;
        top: 0;
        background-color: #f5f7fa;
        color: #627183;
        font-weight: 400;
      }
      td.action{
        width: 25%;
      }
    }
  }
}

// SEARCH INPUT
.search-input{
  width: 180px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  margin-bottom: 20px;
  background-color: #f5f7fa;
  &:focus{
    width: 230px;
  }
}

.search-txt-input{
  padding: 8px 20px;
  font-size:14px;
  border:1px solid #c8c8c8;
  border-right:0px;
  border-top-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  width: 200px;
}
.search-button {
  padding: 8px 15px;
  font-size: 16px;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #c8c8c8;
  border-right: 0px;
  background: #6c757d;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  position: relative;
  left:-5px;
  &:hover{
    text-decoration: none;
    background: #5c636a;
  }
}

// SEARCH OUTLINE
:focus-visible{
  outline:#6c757d auto 1px;
}

// MEDIA QUERIES

// MEDIA X-SMALL
@media (min-width: 0 ) and (max-width: 1000px){

  .d-xsm-none{
    display: none;
  }

  .box-card-long{
    padding: 10px;
    .card-md-description{
      span{
        font-size: 1.3rem;
        color: #00162f;
        font-weight: 600;
      }
    }
  }

  .size{
    .table{
      tr{
        td.action{
          width: 50%;
        }
      }
    }
  }

  .search-input{
    width: 150px;
    &:focus{
      width: 180px;
    }
  }
}
